body {
    font-family: Verdana, sans-serif;
    background-image: url("/img/login_bg.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-fluid{
    margin-top: 100px;
}   
.navbar-light{
    background-color: rgba(245, 245, 245, 1) !important;
}

.navbar-light .navbar-brand {
    color: rgb(104, 104, 104);
    font-size: 1.7em;
}

#carouselLibreria .carousel-inner{
    border-radius: 10px !important;
    border: 1px rgb(204, 204, 204) solid;
}


.card{
    background-color: rgba(255, 255, 255, 0.9);
}
.card-header{
    padding: 20px 10px;
}

.input-group{
    background-color: rgb(255, 255, 255);
}
#loginbox .input-group {
    margin-bottom: 10px;
}
#loginbox .input-group .input-group-addon {
    width: 40px;
    height: 40px;
    line-height: 30px;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0;
}
#loginbox .input-group input {
    height: 40px;
    font-size: 1.2rem;
}

#loginbox label {
    color: rgb(104, 104, 104);
    font-size: 1.3rem;
    margin-bottom: .1rem;
}
.card .card-header h3{
    color: rgb(104, 104, 104) !important;
}

footer {
    margin-top: 30px;
    overflow-x: hidden !important;
    background-color: rgba(244, 244, 244, .8) !important;
    color: #546E7A !important
}