<!DOCTYPE html>
<html>
<head th:replace="layouts/base-layout::head"></head>

	<style>
	canvas {
  	border: 1pt solid dimgray;
  	height: 100%;
}

	
	</style>
	<script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js" ></script>
<body>
	<div class="container mt-5">
		<div class="row justify-content">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-dark text-light">
						<h4>Registro de usuarios</h4>
					</div>
					<div class="card-body">
						<form th:action="@{/auth/registro}" th:object="${usuario}"
							method="POST">

							<div class="row form-group justify-content-center">
							
								<canvas id="theCanvas" class="col-6"></canvas>
							</div>
							
							
							<div class="row form-group justify-content-center">
								<label class="btn btn-outline-secondary col-8"> Agregar foto de perfil 
									<input type="file" multiple="false" accept="image/*"
									id="fileInput" onchange="loadImage()" style="display: none;">
									</label>
							</div>

							<div class="row form-group">
								<label class="col-md-3">Nombre</label> <input type="text"
									class="form-control col-md-7" th:field="*{nombre}">
							</div>
							<div class="row form-group">
								<label class="col-md-3">Apellidos</label> <input type="text"
									class="form-control col-md-7" th:field="*{apellidos}">
							</div>
							<div class="row form-group">
								<label class="col-md-3">Email</label> <input type="email"
									class="form-control col-md-7" th:field="*{email}">
							</div>

							<div class="row form-group">
								<label class="col-md-3">Ciudad</label> <input type="email"
									class="form-control col-md-7" th:field="*{ciudad}">
							</div>
							<div class="row form-group">
								<label class="col-md-3">Pais</label> <input type="email"
									class="form-control col-md-7" th:field="*{pais}">
							</div>
							<div class="row form-group">
								<label class="col-md-3">Acerca de mi</label>
								<textarea class="form-control col-md-7"
									th:field="*{descripcion}"></textarea>
							</div>

							<div class="row form-group">
								<label class="col-md-3">Username</label> <input type="text"
									class="form-control col-md-7" th:field="*{username}">
							</div>

							<div class="row form-group">
								<label class="col-md-3">Contraseña</label> <input
									type="password" class="form-control col-md-7"
									th:field="*{password}">
							</div>

							<div class="row form-group">
								<input type="submit"
									class="btn btn-success btn-block col-md-7 offset-3"
									th:field="*{password}" value="Registrarme">
							</div>
							<div class="row form-group">
								<label class="col-md-12">¿Ya tienes una cuenta?, <a
									th:href="@{/auth/login}">Iniciar sesion</a></label>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
		var originalImage = null;
		var canvas = document.getElementById("theCanvas");
		function loadImage() {
		 	var file = document.getElementById("fileInput");
		  	originalImage = new SimpleImage(file);
		  	originalImage.drawTo(canvas);
		}
	</script>
</body>
</html>